<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <header>
        <nav>
            <div>
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo">
                </div>
                <div class="searchbar">
                    <input type="search" name="searchProduct" id="searchInput">
                    <span class="material-symbols-outlined">search</span>
                </div>
            </div>
            <h4>Compra en cuotas sin tarjeta de credito</h4>
            <div class="ulcontainer">
                <ul>
                    <li>
                        <a href="">Ofertas</a>
                    </li>
                    <li>
                        <a href="">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="">Vender</a>
                    </li>
                    <li>
                        <a href="">Ayuda</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/register">Crea tu cuenta</a>
                    </li>
                    <li>
                        <a href="/login">Ingresa</a>
                    </li>
                    <li>
                        <a href="">Mis compras</a>
                    </li>
                </ul>
            </div>
            <div class="hamburguer">
                <span class="material-symbols-outlined">menu</span>
            </div>
        </nav>
        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="banner">
        </div>
    </header>
    <main>
        <section>
            <h1 class="titular">Basado en tu utlima visita</h1>
            <div>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div>
                        <span class="material-symbols-outlined">local_shipping</span>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <div>
                        <span class="material-symbols-outlined">local_shipping</span>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                    <div>
                        <span class="material-symbols-outlined">local_shipping</span>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Tv">
                    <div>
                        <span class="material-symbols-outlined">local_shipping</span>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h1 class="titular">Ofertas</h1>
            <div>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div>
                        <span class="material-symbols-outlined">local_shipping</span>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <div>
                        <span class="material-symbols-outlined">local_shipping</span>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                    <div>
                        <span class="material-symbols-outlined">local_shipping</span>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Tv">
                    <div>
                        <span class="material-symbols-outlined">local_shipping</span>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <div>
                <span class="material-symbols-outlined">credit_card</span>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <span class="material-symbols-outlined">featured_seasonal_and_gifts</span>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <span class="material-symbols-outlined">admin_panel_settings</span>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>